* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Verdana, sans-serif;
}
.main-container {
  width: 1024px;
  margin: 200px auto;
}
.testimonial-component {
  padding: 36px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial-container {
  display: flex;
  gap: 52px;
  font-family: Arial, sans-serif;
}
.comment-box {
  border-radius: 24px;
  width: 450px;
  height: auto;
  background-color: #080808;
  padding: 32px;
  font-size: 22px;
  position: relative;
}
.comment-box p {
  color: #f5f1f1;
}
.space-in-box {
  margin-top: 40px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #080808;
  position: absolute;
  left: 32px;
  bottom: -14px;
}
.review-container {
  height: auto;
  border-radius: 24px;
  padding: 32px;
  border: 2px solid #000;
}
.review-box p {
  font-size: 22px;
}
.review-box span {
  font-size: 22px;
}
.user-box img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 16px;
  color: #000;
}
.user-info {
  display: flex;
  margin-top: 26px;
  font-size: 22px;
}
.user-box {
  display: flex;
  font-size: 22px;
}
.user-box img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 16px;
  object-fit: cover;
}
.user-box h3{
  margin-top: 20px;
}
.review-area {
  font-size: 20px;
  color: #0e0d0d;
  line-height: 1.4;
  margin-top: 10px;
  justify-content: space-between;
}
.review-area p {
  margin-bottom: 36px;
}
.image-container img {
  width: 376px;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
}
.image-and-rating-section {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.rating-section {
   width: 546px;
  color: #f5f1f1;
  background-color: #080808;
  border-radius: 24px;
  padding: 40px;
}
.star {
  color: gold;
  font-size: 24px;
  gap: 0;
}
.text-area {
  margin-top: 20px;
  font-size: 28px;
  line-height: 1.4;
}
.different-color {
  color: grey;
  font-size: 20px;
  margin-top: 16px;
}
.name-post h3{
  margin-top: 20px;
}
.comment {
  font-size: 22px;
  margin-top: 20px;
}
.comment span{
  display: block;
}
.slider-box {
  max-width: 1438px;
  margin-top: 20px;
  font-size: 40px;
  border: #080808 2px solid;
  border-radius: 24px;
  padding: 26px;
}
.slider-box p {
  color: #080808;
  text-align: center;
  font-size: 26px;
}

.slider-pic {
  display: flex;
  align-items: center;
  margin-top: 58px;
  justify-content: center;
  gap: 10px;
}
.slider-pic img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0px 20px;
  opacity: 0.5;
  object-fit: cover;
}
.center-pic {
  width: 120px;
  height: 120px;
  opacity: 1;
}
#centre {
  width: 84px;
  height: 84px;
  opacity: 1;
}
.icon{
  font-size: 12px;
}
.icon a{
  color: #000;
}
.dev-name {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .main-container {
    max-width: 386px;
    margin-top: 20px ;
  }
  .testimonial-component {
    box-shadow: none;
    
  }
  .comment-box {
    width: 316px;
    height: auto;
    font-size: 12px;
    padding: 24px;
  }
  .comment-box p {
    font-size: 20px;
  }
 
  .review-area {
    font-size: 20px;
  }
  .user-info {
    font-size: 16px;
  }
  .user-box {
    font-size: 16px;
  }
  .user-box img {
    width: 74px;
    height: 74px;
    object-fit: cover;
  }
  .review-container {
    width: 316px;
    height: auto;
    padding: 24px;
  }
  .review-box p {
    font-size: 20px;
  }
  .employee-post {
    font-size: 16px !important;
    margin-top: 8px;
  }
  .image-container img {
    width: 316px;
    margin-top: 10px;
    object-fit: cover;
  }
  .rating-section {
    width: 316px;
    height: auto;
    padding: 24px;
  }
  .comment{
    font-size: 20px;
  }
  .comment span{
    display: inline;
  }
  .commenter-name {
    font-size: 20px;
    font-weight: 500;
  }
  .testimonial-container {
    flex-direction: column;
    gap: 40px;
  }
  .image-and-rating-section {
    flex-direction: column;
    align-items: center;
  }
  .slider-box {
    width: 316px;
    font-size: 20px;
    padding: 26px;
    margin-top: 28px;
  }
  .slider-box p{
    font-size: 20px;
  }
  .slider-pic{
    gap: 0;
  }
  .slider-pic img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
  }
  #centre {
    width: 74px;
    height: 74px;
    opacity: 1;
  }
}

@media (min-width: 764px) and (max-width: 1022px) {
  .main-container {
    max-width: 762px;
    margin-top: 10px;
  }
  .testimonial-container {
    display: block;
  }
  .testimonial-component {
    box-shadow: none;
  }
  
  .image-and-rating-section {
    display: block;
  }
  .user-box {
    font-size: 20px;
  }
  .user-box img{
    object-fit: cover;
  }
  .user-info {
    font-size: 20px;
  }
  .slider-box {
    width: 690px;
    margin-top: 34px;
    padding: 46px;
  }
  .slider-box p{
    font-size: 22px;
  }
  .comment span{
    display: inline;
  }
  .comment-box {
    width: 690px;
  }
  .review-container {
    width: 690px;
    margin-top: 30px;
  }
  .rating-section {
    width: 690px;
    margin-top: 30px;
  }
  .review-box {
    width: 588px;
    margin-top: 40px;
  }
  .image-container img {
    width: 690px;
    margin-top: 20px;
  }
}


