* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI',  Verdana, sans-serif
}
.main-container {
  width: 1440px;
  margin: 200px auto;
}
.testimonial-comment {
  padding: 26px;
}

.first {
  display: flex;
  gap: 66px;
  font-family: Arial,  sans-serif;
}
.comment-box {
  width: 600px;
  height: 300px;
  color: #f5f1f1;
  background-color: #080808;
  border-radius: 20px;
  padding: 32px;
}
.comment-box p {
  font-size: 32px;
}
.comment-box span {
  margin-top: 20px;

  font-size: 32px;
}
/* .user-box {
    display: flex;
    align-items: center;
    margin-top: 150px;
    
} */
.user-box img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 20px;
  color: #000;
}
.user-info {
  display: flex;
  margin-top: 26px;
  font-size: 22px;
}
.user-box2 {
  display: flex;
  font-size: 22px;
  margin-top: 42px;
}
.user-box2 img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 20px;
}
.second-box {
  width: 772px;
  height: 426px;
  border: #000 2px solid;
  border-radius: 40px;
  padding: 32px;
}

.comment-box2 {
  font-size: 30px;
  color: #0e0d0d;
  line-height: 1.4;
  margin-top: 10px;
  justify-content: space-between;
}
.comment-box2 p {
  margin-bottom: 24px;
}
.image-container img {
  width: 500px;
  border-radius: 50px;
}
.second-flex {
  display: flex;
  gap: 50px;
  margin-top: 18px;
}
.comment-box3 {
  width: 888px;
  height: 500px;
  color: #f5f1f1;
  background-color: #080808;
  border-radius: 20px;
  padding: 42px;
}
.star {
  color: gold;
  font-size: 46px;
}
.text-area {
  margin-top: 20px;
  font-size: 28px;
  line-height: 1.4;
}
.slider-box {
  max-width: 1438px;
  margin-top: 20px;
  font-size: 40px;
  border: #080808 2px solid;
  border-radius: 20px;
  padding: 50px 80px;
}
.slider-box p {
  color: #080808;
  text-align: center;
}

.pic {
  display: flex;
  align-items: center;
  margin-top: 58px;
  justify-content: center;
  gap: 10px;
}
.pic img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0px 20px;
  opacity: 0.5;
}
#center-pic {
  width: 120px;
  height: 120px;
  opacity: 1;
}

@media (max-width: 640px) {
  .main-container{
    max-width: 386px;
    margin-top: 20px;
  }
  .comment-box{
    width: 386px;
    height: auto;
    font-size: 12px;
  }
  .comment-box p{
    font-size: 20px;
  }
  .comment-box2{
    font-size: 20px;
  }
  .user-info{
    font-size: 16px;
  }
  .user-box img{
    width: 74px;
    height: 74px;
  }
  .user-box2{
    font-size: 16px;
  }
  .user-box2 img{
    width: 74px;
    height: 74px;
  }
  .second-box{
    width: 386px;
    height: auto;
    padding: 10px;
  }
  .image-container img{
    width: 386px;
  }
  .comment-box3{
    width: 386px;
    height: auto;
    /* font-size: 16px; */
  }
  .text-area{
    font-size: 20px;
  }
  .first {
    flex-direction: column;

  }
  .second-flex {
  flex-direction: column;
  align-items: center;
  
}
.slider-box{
  max-width: 640px ;
  font-size: 20px;
  padding: 36px;
}
.pic img{
  width: 50px;
  height: 50px;
  margin: 0px 10px;}
#center-pic {
  width: 74px;
  height: 74px;
}
}

@media (min-width: 764px) and (max-width: 1022px) {
  .main-container{
    max-width: 762px;
    margin-top: 10px;
  }
  .first{
    display: block;
  }
  .second-flex{
    display: block;
  }
  .user-box2{
    font-size: 24px;
  }
  .user-info{
    font-size: 24px;
  }
  .slider-box{
    width: 750px;
  }
  .comment-box{
    width: 750px;
  }
  .comment-box3 {
    width: 750px;
  }
  .second-box {
    width: 760px;
    margin-top: 40px;
  }
  .image-container img{
    width: 760px;
  }
}
