* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Verdana, sans-serif;
}
.main-container {
  /* max-width: 360px; */
  margin: 20px auto;
}
.testimonial-container {
  /* display: grid;
  grid-gap: 26px; */
  /* max-width: 300px; */
  padding: 10px;
}
.comment-box {
  position: relative;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
}
.down-arrow {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #080808;
  position: absolute;
  left: 18px;
  bottom: -10px;
}
.comment-box P {
  color: aliceblue;
  margin-top: 12px;
}
.user-info {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  margin-top: 20px;
}
.user-info img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.review-container {
  border: 1px solid black;
  border-radius: 20px;
  padding: 16px;
  margin-top: 20px;
}
.user-box {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  margin-top: 25px;
}
.user-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.image-container {
  display: grid;
  place-items: center;
  margin-top: 20px;
}
.image-container img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
}
.rating-section {
  border-radius: 25px;
  padding: 20px;
  background-color: #080808;
  margin-top: 20px;
}
/* .rating-section p {
  color: white;
} */
.commenter-name {
  margin-top: 10px;
  font-weight: 500;
  color: white;
}
.different-color {
  color: gray;
  margin-top: 10px;
  margin-bottom: 18px;
}
.comment span {
  color: white;
}
.star {
  color: gold;
}
.slider-container {
  border: 1px solid black;
  border-radius: 24px;
  padding: 26px;
  margin-top: 20px;
  display: grid;
  place-items: center;
}
.slider-box p {
  color: #080808;
  text-align: center;
  font-size: 16px;
}

.slider-pic {
  display: grid;
  grid-template-columns:10% 20% 30% 20% 10% ;
  place-items: center;
  margin-top: 58px;
  gap: 14px;
}
.slider-pic img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  opacity: 0.5;
  object-fit: cover;
}
.center-pic {
  width: 120px;
  height: 120px;
  opacity: 1;
}
#centre {
  width: 84px;
  height: 84px;
  opacity: 1;
}
.icon {
  font-size: 12px;
}
.icon a {
  color: #000;
}
.dev-name {
  margin-top: 10px;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .main-container {
    padding: 24px;
  }
  .testimonial-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
  }
  .user-box  {
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
  }
  .user-info{
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
  }
  /* .slider-pic {
    gap: 0;
  } */
}


@media (min-width:1024px) {
  .main-container{
      padding: 40px;
      width: 1024px;
  }
   .testimonial-container {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 22px;
    column-gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   .first-card {
    grid-column: 1 / 6;
   }
   .review-container{
    grid-column: 6 / span 7;
    margin-top: 0;
   }
   .image-container {
    grid-column: 1 / 4;
   }
   .rating-card {
    grid-column: 5 / span 8;
   }
   .slider-container {
    grid-column: 1/ span 12;
   }
}
